<div class="container" id="container">
  <section class="not-found" *ngIf="currentData.length === 0">
    <div>There is not any post , come back later :)</div>
  </section>
  <div class="images-container">
    <div
      class="items"
      *ngFor="let item of currentData; trackBy: pictureWithTitle"
      (click)="goToPost(item.ID)"
    >
      <img
        [id]="item.ID"
        [src]="item.photos && item.photos.length > 0 && item.photos[0].path"
        [alt]="item.description"
        onerror="this.onerror=null;this.src='https://picsum.photos/200/300?random=1'"
      />
    </div>
  </div>
  <div class="intersect" id="listItem"></div>
</div>
