<div class="item" *ngIf="show">
  <div>
    <ngx-skeleton-loader
      count="1"
      appearance="circle"
      [theme]="{
        height: '100px',
        width: '100px',
        border: '1px solid white'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
    <ngx-skeleton-loader
      count="1"
      appearance="line"
      [theme]="{
        width: '250px',
        border: '1px solid white'
      }"
    ></ngx-skeleton-loader>
    <br />
    <ngx-skeleton-loader
      count="1"
      appearance="line"
      [theme]="{
        maxWidth: '300px',
        width: '100%',
        border: '1px solid white'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
