<nav class="optionslist">
  <ul>
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div><mat-icon>local_post_office</mat-icon><span>Posts</span></div>
      </a>
    </li>
    <li>
      <a
        routerLink="notifications"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <div>
          <mat-icon>notifications_active</mat-icon><span>Notifications</span>
        </div>
      </a>
    </li>
    <li>
      <a
        routerLink="followers"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <div><mat-icon>face</mat-icon><span>Followers</span></div>
      </a>
    </li>
    <li>
      <a
        routerLink="following"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <div><mat-icon>accessibility_new</mat-icon><span>Followings</span></div>
      </a>
    </li>
    <li>
      <a
        routerLink="create_post"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <div>
          <mat-icon>post_add</mat-icon>
          <span>Create Post</span>
        </div>
      </a>
    </li>
  </ul>
</nav>
