<div class="center registerContainer">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <img src="../../../assets/logo.png" alt="logo" class="signInLogo" />
    </mat-card-header>
    <mat-card-content class="content">
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <app-input
          label="Username"
          type="text"
          [control]="$any(authForm).get('username')"
        ></app-input>
        <app-input
          label="Email"
          type="text"
          [control]="$any(authForm).get('email')"
        ></app-input>
        <app-input
          label="Password"
          type="password"
          [control]="$any(authForm).get('password')"
        ></app-input>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" type="submit">
            {{ !isSignUp ? "Signin" : "Signup" }}
          </button>
          <p (click)="changeGoal()" class="switch">
            Switch To {{ isSignUp ? "Signin" : "Signup" }}
          </p>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
