@import "../../../styles.scss";
:host {
}
.create-comment {
  margin: 0.1rem 1rem;
  padding: 1rem;
  padding-left: 0.2rem;
  border-radius: 4px;
  margin-top: 0.2rem;
  position: relative;
  textarea {
    border: 1px solid rgb(201, 190, 190);
    border-radius: 20px;
    width: 100%;
    height: 80px;
    font-size: 1.1rem;
    color: $secondaryPlus;
    padding: 0.7rem;
    font-family: "Times New Roman", Times, serif;
    &:focus {
      outline: none;
      border: 1px solid black;
    }
  }
}
.svgIcon {
  position: absolute;
  right: -5px;
  top: 40px;
  color: $secondary;
  cursor: pointer;
}
.list {
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}
.comment-svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(70, 67, 67);
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  svg {
    transform: scale(2);
    color: rgb(80, 78, 78);
  }
  p {
    margin-top: 2rem;
  }
}
.svgIcon {
  transform: rotate(26deg);
  margin-left: 1rem;
}
.btns {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: $lightGray;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-left: auto;
  display: block;
  margin-left: auto;
  cursor: pointer;
  margin-top: 0.4rem;
}
