<div class="modalWrapper" (click)="closePage($event)">
  <form
    class="modalContent"
    (click)="$event.stopPropagation()"
    (ngSubmit)="submitForm()"
    [formGroup]="postForm"
  >
    <div class="head" (click)="$event.stopPropagation()">
      <mat-icon color="primary" (click)="closePage($event)"
        >arrow_back</mat-icon
      >
      <button color="primary" (click)="submitForm()" type="submit">Post</button>
    </div>
    <hr />
    <div class="create-post-wrapper">
      <div class="slider-uploader">
        <app-slider [photos]="files" class="slider"></app-slider>
        <div (click)="$event.stopPropagation()">
          <app-image-uploader
            [filesControl]="$any(postForm).get('photos')"
          ></app-image-uploader>
        </div>
      </div>
      <div class="create-posts-inputs">
        <app-create-post-inputs
          [titleControl]="$any(postForm).get('title')"
          [descriptionControl]="$any(postForm).get('description')"
          [privateControl]="$any(postForm).get('private')"
          [tagsControl]="$any(postForm).get('tags')"
        ></app-create-post-inputs>
        <button class="btn">Create Post</button>
      </div>
    </div>
  </form>
</div>
