@import "../../../styles.scss";
@import "~swiper/css";
@import "~swiper/css/navigation";
:host {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  p,
  button {
    padding: 0;
    margin: 0;
  }
}
.modalWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modalContent {
    width: 95%;
    height: 80%;
    background: white;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    animation-name: anim;
    animation-duration: 0.32s;
    animation-timing-function: linear;
    border-radius: 10px;
    max-width: 1100px;
    &::-webkit-scrollbar {
      display: none;
    }
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    .head {
      padding: 0.7rem 1rem;
      font-weight: bold;
      font-size: 1.1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: navy;
      font-weight: bold;
      button {
        background: transparent;
        border: none;
        font-size: 1.05rem;
        color: navy;
      }
      & > * {
        cursor: pointer;
      }
    }
    .create-post-wrapper {
      width: 100%;
      height: 90%;
      @include medium-up {
        display: flex;
      }
      .slider-uploader {
        @include medium-up {
          width: 70%;
        }
        height: 100%;
        &::-webkit-scrollbar {
          display: none;
        }
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none;
      }
      .create-posts-inputs {
        @include medium-up {
          width: 30%;
        }
        .btn {
          margin-left: 2.5rem;
          background: white;
          outline: none;
          border: none;
          padding: 0.6rem 2rem;
          border-radius: 4px;
          border: 1px solid #b3acac;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          margin-bottom: 1rem;
          &:hover {
            background-color: rgb(92, 92, 226);
            color: white;
          }
          text-transform: uppercase;
        }
      }
    }
  }
}

@keyframes anim {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
