<div class="modalWrapper" (click)="closePage($event)">
  <form
    class="modalContent"
    (click)="$event.stopPropagation()"
    (ngSubmit)="submitForm()"
    [formGroup]="postForm"
  >
    <div class="head" (click)="$event.stopPropagation()">
      <mat-icon color="primary" (click)="closePage($event)"
        >arrow_back</mat-icon
      >
      <button color="primary" (click)="submitForm()" type="submit">Post</button>
    </div>
    <hr />
    <div (click)="$event.stopPropagation()">
      <app-expansion-panel
        [titlec]="$any(postForm).get('title')"
        [descriptionc]="$any(postForm).get('description')"
        [privatec]="$any(postForm).get('private')"
        [tagc]="$any(postForm).get('tag')"
      ></app-expansion-panel>
    </div>
    <div (click)="$event.stopPropagation()">
      <app-image-uploader
        [filesControl]="$any(postForm).get('photos')"
      ></app-image-uploader>
    </div>
  </form>
</div>
