<li (click)="changePage()">
  <div
    class="img-shower placeholder"
    *ngIf="user.avatar === '' || user.avatar === undefined"
  >
    {{ user.username.charAt(0) | uppercase }}
  </div>
  <div class="img-shower">
    <img
      class="actual-img"
      *ngIf="user.avatar !== '' && user.avatar !== undefined"
      [src]="user.avatar"
    />
  </div>

  <h3>{{ user.username }}</h3>
  <p>
    {{
      user.bio === "" ? "I have not bio yet , please come to my page" : user.bio
    }}
  </p>
  <button>View Page</button>
</li>
