@import "../../../../styles.scss";
:host {
  flex: 0 1 100%;
  height: 290px;
  margin-bottom: 1.5rem;
  @media (min-width: 550px) {
    flex: 0 1 45%;
  }
  @include desktop-up {
    flex: 0 1 32%;
  }
}

li {
  display: block;
  width: 100%;
  max-width: 230px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
  height: 100%;
  margin: 0 auto;
}
li .img-shower {
  margin: 0;
  position: absolute;
  opacity: 0.8;
  top: 30px;
  right: 20px;
  transition: all 0.3s ease-in-out;
}
li h3 {
  font-size: 20px;
  color: #b7b7b7;
  margin-bottom: 5px;
  font-weight: bold;
}
li p {
  font-size: 16px;
  line-height: 18px;
  color: #b7b7b7;
  margin-top: 5px;
  line-height: 1.4;
}
li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
li button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
li:hover button {
  transform: translateY(45px);
  opacity: 1;
  cursor: pointer;
}
li button:hover {
  color: #262a2b;
}
li button:hover:before {
  left: 0;
  opacity: 1;
}
li:hover div {
  top: 10px;
  opacity: 0.6;
}

li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}
li:nth-child(1):before {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
}
li:nth-child(1):before {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c);
}
li:nth-child(2):before {
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}
li:nth-child(1):before {
  background: #fc354c;
  background: linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, $secondary);
}
.placeholder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  background-clip: content-box;
  padding: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
  background: #262a2b;
  border: 2px solid white;
}
.actual-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}
