<div class="friend-container">
  <div class="skeletons" *ngIf="loading">
    <app-post-skeleton *ngFor="let item of skeletons"></app-post-skeleton>
  </div>
  <div *ngIf="users.length !== 0 && loading === false" class="list-container">
    <app-friend *ngFor="let user of users" [user]="user"></app-friend>
  </div>
  <div *ngIf="users.length === 0 && loading === false">
    <div class="center">
      <mat-icon>{{ "face" }}</mat-icon>
      <h3>
        {{
          type === false
            ? "You have not any Followers Yet"
            : "You have not any Following Yet"
        }}
      </h3>
    </div>
  </div>
</div>
