<header>
  <div class="container">
    <img src="../../assets/logo.png" alt="logo" />
    <div class="header-buttons-group">
      <div *ngIf="!showSearchBar" class="main-btns">
        <a
          *ngIf="!isAuth"
          [routerLink]="['/register']"
          class="button border-btn"
        >
          join Now
        </a>
        <a
          *ngIf="isAuth"
          [routerLink]="['/dashboard']"
          class="button border-btn"
          >Profile</a
        >
        <a class="button" [routerLink]="['/explore']">explore</a>
        <a class="button" [routerLink]="['/']" *ngIf="!isAuth">home</a>
        <a class="button" [routerLink]="['/logout']" *ngIf="isAuth">logout</a>
      </div>
      <div *ngIf="showSearchBar">
        <input
          type="text"
          class="inputfield"
          placeholder="search user ..."
          (focus)="focusSearchInput()"
          (input)="changeText($event)"
          [(ngModel)]="value"
        />
        <app-search-box
          *ngIf="showSearchResults && showSearchBar"
          (closeResults)="this.value = ''; this.showSearchResults = false"
        ></app-search-box>
      </div>
      <button class="resetButton">
        <mat-icon
          class="icon"
          (click)="
            this.showSearchBar = !this.showSearchBar;
            this.showSearchResults = false
          "
          >search</mat-icon
        >
      </button>
    </div>
  </div>
</header>
