<header>
  <div class="container">
    <img src="../../assets/logo.png" alt="logo" />
    <div class="header-buttons-group">
      <div *ngIf="!showSearchBar">
        <a
          *ngIf="!isAuth"
          [routerLink]="['/register']"
          class="button border-btn"
        >
          Join Now
        </a>
        <a
          *ngIf="isAuth"
          [routerLink]="['/dashboard']"
          class="button border-btn"
          >Profile</a
        >
        <a class="button" [routerLink]="['/explore']">explore</a>
        <a class="button" [routerLink]="['/']">home</a>
      </div>
      <input
        type="text"
        [(ngModel)]="value"
        *ngIf="showSearchBar"
        class="inputfield"
        placeholder="search user ..."
      />
      <button class="resetButton">
        <mat-icon
          class="icon"
          (click)="this.showSearchBar = !this.showSearchBar"
          >search</mat-icon
        >
      </button>
    </div>
  </div>
</header>
