@import "../../../styles.scss";
.dynamicClass {
  @include desktop-up {
    margin-left: 17.2rem;
  }
}
.get-posts-container {
  padding-top: 2rem;
  .skeletons,
  .tmnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
      flex: 0 1 100%;
    }
    @include tablet-up {
      justify-content: flex-start;
      & > * {
        flex: 0 1 50%;
      }
    }
    @include desktop-up {
      & > * {
        flex: 0 1 32%;
      }
    }
  }
  .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    p {
      font-size: 1.2rem;
      line-height: 1.1;
      color: $secondaryPlus;
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }
}
