<div class="get-posts-container" [ngClass]="{ dynamicClass: normalMode }">
  <div class="skeletons" *ngIf="loading">
    <app-post-skeleton *ngFor="let item of skeletons"></app-post-skeleton>
  </div>
  <div *ngIf="!loading">
    <div class="tmnails" *ngIf="thumbnails.length !== 0">
      <ng-container *ngFor="let thumbnail of thumbnails">
        <app-thumbnail
          [id]="thumbnail.ID"
          [title]="thumbnail.title"
          [description]="thumbnail.description"
          [imageUrl]="thumbnail.photos[0].path"
          [deleteMod]="true"
          (onDeletePost)="onDeletePost($event)"
          (onGoToPost)="onGoToPost($event)"
        ></app-thumbnail>
      </ng-container>
    </div>
    <div *ngIf="thumbnails.length === 0" class="img-wrapper">
      <img
        class="q-image qu-mb--tiny"
        src="//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.empty_states.dormant_lightmode.png-26-c4532c98034818a0.png"
        width="100px"
        style="box-sizing: border-box; max-width: 100%; width: 100px"
      />
      <p *ngIf="normalMode">You have not created a post yet</p>
      <p *ngIf="!normalMode">
        There isn't any post or at least any public post yet
      </p>
    </div>
  </div>
</div>
