@import "../../../../styles.scss";
:host {
  flex: 0 1 100%;
  @include tablet-up {
    flex: 0 1 45%;
  }
  border: 1px solid rgba(white, 0.2);

  height: 96px;
  position: relative;
  background: rgb(247, 244, 244);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
}
.ribbon {
  $default-right: 10px;
  $default-top: -3px;
  $default-color: #2ca7d8;
  $default-width: 32px;
  $default-height: 36px;
  position: absolute;

  filter: drop-shadow(2px 3px 2px rgba(black, 0.5));

  > .content {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    background: var(--color, $default-color)
      linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
    padding: 8px 2px 4px;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);

    min-height: var(--height, $default-height);

    transition: clip-path 1s, padding 1s, background 1s;
  }

  &.slant-up > .content {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 12px),
      50% calc(100% - 6px),
      0 100%
    );
  }

  &.slant-down > .content {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      50% calc(100% - 6px),
      0 calc(100% - 12px)
    );
  }

  &.down > .content {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 8px),
      50% 100%,
      0 calc(100% - 8px)
    );
  }

  &.up > .content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
  }

  &.check > .content {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      40% 100%,
      0 calc(100% - 12px)
    );
  }
}
.up {
  right: 10px;
  top: -1px;
}
.check {
  right: 50px;
  top: -1px;
}
