<div class="landing-container">
  <section>
    <div class="container">
      <div class="left">
        <img
          src="../../assets/socialGif.gif"
          alt="socialGif"
          class="landing-img"
        />
      </div>
      <div class="right">
        <h1>The Home For Your Posts</h1>
        <p>
          calL.Me is a social media that u can share your moments with friend
          and others.follow your friends and also new people and expand your
          Community Relations
        </p>
        <a href="" class="btn">Sign In</a>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="right">
        <h1>explore in our public posts</h1>
        <p>
          if you have not enough time to sign in or you are not intersted yet .
          give us a chance to show our quality.you can easily see our users
          public posts
        </p>
        <a href="" class="btn">Explore</a>
      </div>
      <div class="left">
        <img
          src="../../assets/explorePicture.jpg"
          alt="explore"
          class="landing-img"
        />
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="left">
        <img src="../../assets/feature.jpg" alt="feature" class="landing-img" />
      </div>
      <div class="right">
        <h1>features</h1>
        <h2>create posts</h2>
        <p>
          you can share your moment with anyone you like.friend , parents,
          strangers and ...
        </p>
        <h2>folow</h2>
        <p>love someone ideas? just follow him or her</p>
        <h2>comments</h2>
        <p>Tell your friend what you think about him or her post</p>
      </div>
    </div>
  </section>
</div>
