.centerError {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 100vh;
  text-align: center;
}
p {
  font-size: 2rem;
  padding: 1rem;
  line-height: 2rem;
}
.center {
  text-align: center;
}
