<div class="item">
  <div>
    <ngx-skeleton-loader
      count="1"
      appearance="line"
      [theme]="{
        height: '200px',
        width: '280px',
        border: '1px solid white',
        display: 'block'
      }"
    ></ngx-skeleton-loader>
    <div class="flex">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
          width: '60px',
          height: '60px',
          display: 'inline-block'
        }"
      ></ngx-skeleton-loader>
      <div class="col">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{
            width: '195px',
            border: '1px solid white',
            display: 'inline-block',
            marginTop: '10px'
          }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{
            width: '110px',
            border: '1px solid white',
            display: 'inline-block'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
