/* You can add global styles to this file, and also import other style files */
$primary: white;
$secondary: #5e17eb;
$secondaryPlus: #313131;
$lightGray: rgb(68, 68, 68);
*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin tablet-up {
  @media (min-width: 710px) {
    @content;
  }
}
@mixin medium-up {
  @media (min-width: 780px) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
