/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
$primary: white;
$secondary: #5e17eb;
$secondaryPlus: #313131;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 1050px;
  padding: 1rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
