@import "../../../styles.scss";
.footer {
  width: 100%;
  height: 60px;
  background: $secondaryPlus;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (min-width: 600px) {
  .footer {
    display: flex;
  }
}
